[submodule "pylibseq/src/libsequence"]
	path = pylibseq/src/libsequence
	url = https://github.com/molpopgen/libsequence
[submodule "pybind11"]
	path = pybind11
	url = ../../pybind/pybind11
	branch = stable
