[submodule "libsequence/src/libsequence"]
	path = libsequence/src/libsequence
	url = https://www.github.com/molpopgen/libsequence
[submodule "pybind11"]
	path = pybind11
	url = ../../pybind/pybind11
	branch = stable
